/**

  швблон 01

**/

html{
  font-size: 3em;
}

body{

 background-color: rgba(147, 113, 163, 0.5);
 
}

header{
  width: 90vw;
  height: 15vh;
  margin: auto;
  background-color: rgba(255, 211, 13, 0.5);
  border: 7px solid #d19595;
}


main{
  width: 90vw;
  height: 60vh;
  margin: auto;
  background-color: rgba(82, 122, 201, 0.43);
  border: 7px solid rgba(99, 17, 116, 0.616); 
}

footer{
  width: 90vw;
  height: 10vh;
  margin: auto;
  background-color: rgba(55, 42, 198, 0.5);
  border: 7px solid rgba(194, 100, 7, 0.568)
}
div{
  display: flex;
   background-color: blue;
  margin: 7px;
  padding: 10px;
}
#glav1{
  display:flex;
  justify-content: space-between;
  width: 90vw;
  height: 30vh;
  margin: auto;
  border: 7px solid rgb(150, 32, 91);
  background-color: brown;
  
}
#left{
  width: 18vw;
  height: 27vh 
}
#center{
  width: 40vw;
  height: 28vh;
}
#right{
width: 18vw;
height: 27vh;
}

